src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="017487bc-707a-4f82-9456-a010e8e5c589" >
		<http:listener doc:name="GET/hello" doc:id="cfff53d5-9e8a-4465-81cf-63d846de3d2b" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstname
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subFlow" doc:id="a44cbbee-61db-49d5-b14c-095dd2408bd5" name="subFlow" />
		<vm:publish-consume doc:name="VM Goodby" doc:id="2c4234ef-8634-4908-a3ad-96122be1cdc7" timeout="300" queueName="good" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="00454e7a-97d5-43ee-b889-1f638cb93ad3" />
	</flow>
	<flow name="privateFlow" doc:id="f1730842-b2ea-42b1-b91e-b5baaddb4ec0">
		<http:request method="GET" doc:name="Get/Goodby" doc:id="fa3062fe-2603-49d3-87ea-530867199c81" config-ref="HTTP_Request_configuration" path="/goodby" responseTimeout="300000" />
	</flow>
	<sub-flow name="subFlow" doc:id="ba0794bd-5919-4fc9-80b8-a1a01a810ddd" >
		<set-variable value="sru" doc:name="firstname" doc:id="51755e51-c7f0-4068-9378-617f9fa98e81" variableName="firstname" />
		<set-payload value="Hello" doc:name="Hello" doc:id="1691862e-6974-43ab-8227-88cb88c8e3ad" />
	</sub-flow>
	<flow name="goodbyFlow" doc:id="2f474c39-8159-4743-8e8c-4721ffacb24d" >
		<vm:listener doc:name="Listener" doc:id="c4a218ae-6c0d-4f67-b989-2eccfb2232ed" config-ref="VM_Config" queueName="good"/>
		<set-payload value="Goodby" doc:name="Goodby" doc:id="34efcb52-1ddd-47cd-a9dc-d4c0930b76ac" />
		<logger level="INFO" doc:name="Logger" doc:id="86f8c771-b903-4e57-a1e5-5d6203e8037c" />
	</flow>
</mule>
